body {
  font-family: Helvetica, Sans-Serif;
  text-align: center;
}

.container {
  display: grid;
  place-items: center;
}

.title {
  font-size: 8rem;
  line-height: 0px;
}

.subtitle {
  font-size: 2rem;
}

#slap {
  width: 60%;
  object-fit: cover;
}

footer {
  font-size: 0.75rem;
}