body {
  font-family: Helvetica, Sans-Serif;
  text-align: center;
}

.container {
  position: absolute;
	width: 1280px;
	height: 720px;
	overflow: hidden;

  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.title {
  font-size: 8rem;
  line-height: 0px;
}

.subtitle {
  font-size: 2rem;
}

#slap {
  position: absolute;
  left: 0px;
}

footer {
  font-size: 0.75rem;
}